.header {
    display: flex;
    justify-content: center; /* Center the headerBottom within the header */
    align-items: center;
    padding: 20px; /* Add some padding for spacing */
    position: relative; /* Make the header a positioned element */
    border:0;
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    left: 0; /* Align the logo to the left */
}

.headerBottom {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the SearchBar and NavBar horizontally */
    width: 100%; /* Ensure headerBottom takes the full width */
    margin-right: 125px;
}


.spacer {
    flex: 1; /* Pushes headerBottom to the center */
}
