/* ProfilePage.css */


.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fbf7ee;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
}

/* .logo img {
	height: 50px;
} */

.navigation {
	display: flex;
}

.nav-button {
	background-color: transparent;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}

.nav-button.active {
	font-weight: bold;
	background-color: #c3cbc6;
	border-radius: 5px;
	padding: 7px;
	height: auto;
}

.profile {
	display: flex;
	align-items: center;
}

.profile img {
	height: 40px;
	margin-right: 10px;
}

.main-content {
	display: flex;
	padding: 20px;
}

.profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	border-right: 1px solid #ccc;
	padding-right: 20px;
}

.profile-picture img {
	height: 100px;
	border-radius: 50%;
}

.profile-details {
	text-align: center;
}

.edit-button {
	background: linear-gradient(45deg, #c3cbc5, #d6aeae);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin: 2px;
	font-weight: bold;
}

.logout {
	background: linear-gradient(45deg, #c3cbc5, #d6aeae);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin: 2px;
	font-weight: bold;
}

.listings {
	flex: 2;
	padding-left: 20px;
}

.tabs {
	display: flex;
	margin-bottom: 10px;
}

.tab {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 5px;
}

.tab.active {
	font-weight: bold;
	background-color: #c3cbc6;
}

.listings-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 20px;
}


.listing-card {
	background-color: #fff; /* Card background color */
    border: 1px solid #ddd; /* Card border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    padding: 9px;
    width: 200px; /* Set the width of the card */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Prevent overflow */
}

.listing-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.listing-card img {
	height: 150px;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.listing-details {
	text-align: left;
	margin: 10px 0;
	width: 100%;
}

.listingCardTitle {
	text-align: left;
}

.listing-title {
	font-family: "Solway", sans-serif;
	font-weight: bold;
	margin: 5px 0;
}

.listing-location,
.listing-price {
	font-family: "Solway", sans-serif;
	margin: 5px 0;
}

.contact-button {
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	padding: 5px;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.contact-button:hover {
	background-color: #ccc;
}

/* Modal Styles */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.listing-modal-content {
	background-color: #c3cbc6;
	padding: 20px;
	border-radius: 10px;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	animation: slide-down 0.3s ease-out;
}

.listing-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fbf7ee;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}

.modalTitle {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
}

.modal-close {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: #333;
}

.modal-close:hover {
	color: #e3b9b9;
}

.modal-body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centered-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.styled-input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fbf7ee;
}

.styled-input:focus {
	outline: none;
	border-color: #dbb3b3;
}

.upload-success-message {
	color: green;
	font-weight: bold;
	margin-bottom: 10px;
}

.create-listing-button {
	padding: 10px 20px;
	background-color: #c3cbc5;
	color: black;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
  margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s, color 0.3s;
}

.create-listing-button:hover {
	background-color: #c3cbc6;
}

.paragraph {
	text-align: left;
}

.titleBookmark {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Distribute space between title and button */
    width: 100%; /* Ensure the width covers the full container */
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Default color for the icon (gray) */
    font-size: 20px; /* Adjust icon size */
    padding: 5px;
    transition: color 0.3s ease; /* Smooth transition for color change */
    pointer-events: auto; /* Ensure button can be clicked */
}

.bookmark-button.active {
    color: #D7B0B0; /* Color when active (pink) */
}

.bookmark-button:hover {
    color: #D7B0B0; /* Color on hover */
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between; /* Distribute space between items */
	padding: 0 20px; /* Add some padding if needed */
  }
  
  .header-logo {
	margin: 0 auto; /* Center the logo in the flex container */
  }
  
  .logo {
	margin-left: 0; /* Align the logo on the right */
  }
  