.profile-page {
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FBF7EE;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo img {
  height: 50px;
}

.navigation {
  display: flex;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button.active {
  font-weight: bold;
  background-color: #C3CBC6; /* Change to your desired active color */
  border-radius: 5px;
  padding: 7px;
  height: auto;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  height: 40px;
  margin-right: 10px;
}

.main-content {
  display: flex;
  padding: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.profile-picture img {
  height: 100px;
  border-radius: 50%;
}

.profile-details {
  text-align: center;
}

.edit-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.listings {
  flex: 2;
  padding-left: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.tab.active {
  font-weight: bold;
  background-color: #C3CBC6; /* Change to your desired active color */
}

.listings-grid {
  display: flex;
  gap: 20px;
}

.listing-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.listing-card img {
  height: 100px;
}

.contact-button {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.pLogo {
  width: 80px;
  height: auto;
}

/* Add styles for the modal overlay and content */
/* Modal overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  position: relative;
}

/* Close button styles */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.modal-close:hover {
  color: #007bff;
}



