.footer {
    background-color: #FBF7EE;
    color: #333;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  