body{ 
    /* background color */
    background-color: #FBF7EE; 
    font-family: "Solway", sans-serif;

}

.h1{
    background-color: 1D1B20;
    opacity: 8%;
}

.h2{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle 3D effect */
}



.App{
    display:flex;
} 