.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
  background: #fffbf3; /* Soft, light background color */
  border-radius: 20px; /* More rounded corners */
  width: 90%;
  max-width: 500px;
  padding: 25px; /* Slightly increased padding */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Larger, softer shadow */
  animation: slideDown 0.4s ease-out; /* Slightly longer animation */
  border: 2px solid #dbb3b3; /* Light, playful border color */
}


.modal-header {
	display: flex;
	justify-content: flex-end;
}

.modal-header .close {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.modal-body {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.styled-input,
.fileUpload {
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #eee;
	border-radius: 5px;
	width: 100%;
}

.styled-input:focus {
	border-color: #6c63ff;
	outline: none;
}

.create-listing-button {
	background: linear-gradient(45deg, #ff6f61, #ff9472);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.create-listing-button:hover {
	background: linear-gradient(45deg, #ff9472, #ff6f61);
}

.centered-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-20%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
