.equipmentCard {
    background-color: #fff; /* Card background color */
    border: 1px solid #ddd; /* Card border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    padding: 9px;
    width: 200px; /* Set the width of the card */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Prevent overflow */
}

.equipmentCard img {
    border-radius: 8px; /* Rounded corners for the image */
    width: 100%;
    height: 140px; /* Set a fixed height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    margin-bottom: 6px; /* Space between image and content */
}

.equipmentCard:hover {
    transform: translateY(-5px); /* Lift the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.equipmentCard p {
    font-family: 'Solway', sans-serif;
    padding: 0px;
    margin: 4px;
    margin-left: 0;
    font-weight: 400;
    white-space: normal;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis to overflowing text */
}

.equipmentCardTitle {
    font-family: 'Solway', sans-serif;
    font-size: 17px;
    margin: 0; /* Remove default margin */
    flex-grow: 1; /* Allow the title to take up available space */
}

.titleBookmark {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Distribute space between title and button */
    width: 100%; /* Ensure the width covers the full container */
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Default color for the icon (gray) */
    font-size: 20px; /* Adjust icon size */
    padding: 5px;
    transition: color 0.3s ease; /* Smooth transition for color change */
    pointer-events: auto; /* Ensure button can be clicked */
}

.bookmark-button.active {
    color: #D7B0B0; /* Color when active (pink) */
}

.bookmark-button:hover {
    color: #D7B0B0; /* Color on hover */
}

.location {
	color: rgba(0, 0, 0, 0.54);
	font-weight: 100;
}

.price {
	color: rgba(0, 0, 0, 0.54);
}

.google-signin-button {
	background-color: #f2f2f2;
	background-image: none;
	border: none;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #1f1f1f;
	cursor: pointer;
	font-family: "Roboto", arial, sans-serif;
	font-size: 14px;
	height: 40px;
	letter-spacing: 0.25px;
	outline: none;
	overflow: hidden;
	padding: 0 12px;
	position: relative;
	text-align: center;
	-webkit-transition: background-color 0.218s, border-color 0.218s,
		box-shadow 0.218s;
	transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	max-width: 400px;
	min-width: min-content;
}