/* Make the root container a flex container with column direction */
.allComponents {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Full height of the viewport */
  }
  
  /* The main content area should take up all the available space */
  .bottom {
	flex: 1; /* This makes .bottom grow and take up the available space */
	display: flex;
	flex-direction: column; /* Stack toggle buttons and grid vertically */
	align-items: center; /* Center align children */
	width: 100%; /* Full width of container */
  }
  
  .subcategoryToggle {
	margin-bottom: 20px; /* Space between toggle buttons and equipment grid */
	margin-top: 20px;
  }
  
  .equipmentGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 16px; /* Gap between cards */
	justify-content: center; /* Center align items */
  }
  
  .equipment-item {
	background-color: #c3cbc6; /* Card background color */
	border: 1px solid #b4c1b9; /* Card border */
	border-radius: 8px; /* Rounded corners */
	width: auto;
	height: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
	padding: 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .equipment-item:hover {
	transform: translateY(-5px); /* Lift the card on hover */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }
  
  .modal-img {
	width: 400px; /* Set a fixed width */
	height: 250px; /* Set a fixed height */
	object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  
  .modalHeader {
	margin-top: -15%;
	margin-right: auto;
  }
  
  .modalWords {
	text-align: left;
	width: 100%;
  }
  
  .lowerTitle {
	margin: 5px;
  }
  


