.subcategoryCheckbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* align checkboxes to the left */
    width: 250px; /* fixed width for the subcategory section */
    padding: 10px; /* optional padding for better appearance */
    box-sizing: border-box; /* include padding and border in the element's total width and height */
}

.subcategoryCheckbox label {
    margin-bottom: 5px;
}

.subcategoryCheckbox input[type="checkbox"] {
    margin-right: 5px;
}

.equipmentGrid {
    display: flex;
    flex-wrap: wrap; /* allow items to wrap */
    flex: 1; /* take up remaining space */

    padding: 10px; /* optional padding for better appearance */
}

.equipment-item {
    display: flex;
    flex-direction: column;
    margin: 10px; /* space between items */
}




.allComponents {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* height: calc(100vh - 60px); adjust according to header height */
}
